{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <header class="row">
            <div class="col-12 col-md-6" id="header-text">
                <h2>Let's build the future of drone collecting together!</h2>
                <h5>Create an amazing API tool for drone collecting developers.</h5>
                <div>
                    <button class="btn btn-primary">View Our Docs</button>
                    <button class="btn btn-primary">Join Our Slack</button>
                </div>
            </div>
            <!-- Header image area -->
            <div class="col-12 col-md-6">
                <img src="../../static/images/undraw_server_status_5pbv.svg" alt="hero image" class="header-image">
            </div>
        </header>
        <!-- End of header section -->
        <!-- Start of middle section -->
        <section class="row">
            <div class="col-12" id="middle-text">
                <h2>Display Your Collection!</h2>
                <p>You can harness the power of an API to expand your collection!</p>
            </div>
        </section>
        <!-- End of middle section -->
        <!-- Start of Features -->
        <section class="row" id="features-section">
            <div class="col-12 col-md-4">
                <img src="../../static/images/api.png" alt="API Image" id="api-image">
                <h4>Dedicated API Routes</h4>
                <p>If you are a fan of using traditional API routes, we have those for you!</p>
            </div>
            <div class="col-12 col-md-4">
                <img src="../../static/images/graphql.png" alt="GraphQL Image" id="graphql-image">
                <h4>GraphQL API Routes</h4>
                <p>If you want ALL data from one endpoint, we have that too!</p>
            </div>
            <div class="col-12 col-md-4">
                <img src="../../static/images/db.png" alt="Database Image" id="database-image">
                <h4>Backed by a PostgreSQL Database</h4>
                <p>All data will be persisted inside of a secure Postgres Database.</p>
            </div>
        </section>
        <!-- End of Features Section -->
    </div>
{% endblock content %}